.button{
    border-radius: 5px; 
    width: 200px;  
    justify-content: center;
    text-align: center;
    margin: 5px;
    background-color: none;
    border: none;
    padding: 5px;
}

.button:hover {
    background-color: rgba(90, 185, 223, 0.911);
    box-shadow: 0 2px #999;
}

.button:active {
    transform: translateY(4px);
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.inputField {
    border: 1px solid skyblue; 
    width: calc(100% - 10px * 2); 
    margin-top : 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom : 5px;
}

.checkBox{
    width: 4px;
}

.choiceButton{
    float: left;
    border: 1px;
}

.choiceButton:after {
    transition: all 0.5s;
    opacity: 0;
}

.choiceButton:active:after{
    transition: 0s;
    opacity: 1;
    padding: 5;
    margin: 5;
}

.createButton{
    border-radius:50%;
    padding: 15px 40px;
}

.card{
    padding: 25px;
    box-shadow: 10px 10px 5px grey;
    border-style: none;
    border-radius: 5px;
    margin: 50px;
}

.profilePicture{
    box-shadow: 5px 5px 5px grey;
    border-radius: 180px;
    height: 150px;
    width: 150px;
}

.media{
    display: flex;
    height: 180px;
    margin: 5px;
    width: 260px
}

.sideMenu{
    height:100%;
    width: 40%;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: white;
    padding: 15px;
}

.sideMenu a{
    font-size: 18pt;
    font-style: bold;
    color: lightgrey;
    display: block;
}

.sideMenu a:hover{
    font-size: 20pt;
    color: skyblue;
}

.bodyHome{
    margin-left: 40%; 
    padding: 0px 10px;
    background-color: skyblue;
}